/* src/custom.css */
.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.image-grid img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.sidebar-header-image {
    margin: 5px;
    width: 80%; /* Make image responsive within the sidebar */
    height: auto; /* Maintain aspect ratio */
}