Diese Zusammenfassung wurde von <b>rumpelst1lzk1n</b> (Discord: rumpelst1lzk1n#9952) erstellt.
<br>
Mitwirkende:
<ul>
  {% for honorable_mention in site.data.honorable_mentions %}
  <li>
    <a href="{{honorable_mention.youtube}}">
      {{ honorable_mention.name }}
    </a>
    (Discord: {{ honorable_mention.discord }} )
    </li>
  {% endfor %}
</ul>

<form action="https://www.paypal.com/donate" method="post" target="_top">
<input type="hidden" name="hosted_button_id" value="HC56FX97RNX8U" />
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="" name="submit" title="Eine kleine Spende für den nächsten Satz Propeller" alt="Eine kleine Spende für den nächsten Satz Propeller" />
<img alt="" border="" src="https://www.paypal.com/en_DE/i/scr/pixel.gif" width="1" height="1" />
</form>
